###############################################################################
# SPDX-License-Identifier: GPL-3.0-or-later
###############################################################################


config CC2520
    bool "cc2520 zigbee select"
    default n

###############################################################################