###############################################################################
# SPDX-License-Identifier: GPL-3.0-or-later
###############################################################################


config CC2520
    bool "cc2520 zigbee select"
    default n

config USB_HID
    bool "USB.HID Select"
    default n

config FAT_FS
    bool "FAT FS library Select"
    default n

config LWIP_V2_12
    bool "LwIP library Select"
    default n

###############################################################################