###############################################################################
# SPDX-License-Identifier: GPL-3.0-or-later
###############################################################################


menu "Select Sample Chapter Mango Story v2.0"
    source "SampleChapter/StudyCode/MStory2.0/Kconfig"
endmenu

menu "Select Sample Chapter Mango Story v3.0"
    source "SampleChapter/StudyCode/MStory3.0/Kconfig"
endmenu

menu "Select Sample Chapter Mango-M32F4 Board"
    source "SampleChapter/StudyCode/MANGOSTM32F4/Kconfig"
endmenu


###############################################################################