###############################################################################
# SPDX-License-Identifier: GPL-3.0-or-later
###############################################################################

config HAL_EMPTY_M4
    bool "HAL EMpty Source Template"
    default n
    select HAL_DRIVER_M4


###############################################################################