###############################################################################
# SPDX-License-Identifier: GPL-3.0-or-later
###############################################################################


config CMSIS_SAMPLE_Z1
    bool "CMSIS Standard driver Start Sample Z1"
    default n
    select STANDARD_DRIVER


###############################################################################