###############################################################################
# SPDX-License-Identifier: GPL-3.0-or-later
###############################################################################


config CMSIS_SAMPLE_HELLO_WORLD_Z1
    bool "CMSIS Standard driver Start Sample Z1"
    default n
    select STANDARD_DRIVER

config CMSIS_LED_KEY_CONTROL
    bool "CMSIS Standard Driver LED KEY Control Z1"
    default n
    select STANDARD_DRIVER
    
config CMSIS_CLOCK_CONTROL
    bool "CMSIS Standard Driver Clock Control Z1"
    default n
    select STANDARD_DRIVER

config CMSIS_KEY_INTERRUPT
    bool "CMSIS Standard Driver key interrupt push button Z1"
    default n
    select STANDARD_DRIVER

###############################################################################