###############################################################################
# SPDX-License-Identifier: GPL-3.0-or-later
###############################################################################

config HAL_EMPTY
    bool "HAL EMpty Source Template"
    default n
    select HAL_DRIVER


###############################################################################