###############################################################################
# SPDX-License-Identifier: GPL-3.0-or-later
###############################################################################

config PRINTF_TEST_M4
    bool "printf Mango-M4 Board Test"
    select MANGO_M4
    select STANDARD_DRIVER_M4
    default n
config LED_TEST_M4
    bool "led testing Mango-M4 Board Test"
    select MANGO_M4
    select STANDARD_DRIVER_M4
    default n

config KEY_TEST_M4
    bool "Key testing Mango-M4 Board Test"
    select MANGO_M4
    select STANDARD_DRIVER_M4
    default n

config KEY_EXTI_TEST_M4
    bool "Key Interrupt Mango-M4 Board Test"
    select MANGO_M4
    select STANDARD_DRIVER_M4
    default n

###############################################################################